[submodule "intpath/haval_crm_extension"]
	path = intpath/haval_crm_extension
	url = git@github.com:intpath/haval_crm_extension.git
	branch = master

[submodule "intpath/report_stock_inventory"]
	path = intpath/report_stock_inventory
	url = git@github.com:intpath/report_stock_inventory.git
	branch = haval

[submodule "intpath/car_repair_maintenance_service"]
	path = intpath/car_repair_maintenance_service
	url = git@github.com:intpath/car_repair_maintenance_service.git
	branch = master

[submodule "intpath/haval_test_drive_form"]
	path = intpath/haval_test_drive_form
	url = git@github.com:intpath/haval_test_drive_form.git
	branch = master

[submodule "intpath/purchase_order_automation_lot_import"]
	path = intpath/purchase_order_automation_lot_import
	url = git@github.com:intpath/purchase_order_automation_lot_import.git
	branch = 14

[submodule "intpath/haval_product_stock_redirect"]
	path = intpath/haval_product_stock_redirect
	url = git@github.com:intpath/haval_product_stock_redirect.git
	branch = master

[submodule "intpath/haval_general_ledger_mod"]
	path = intpath/haval_general_ledger_mod
	url = git@github.com:intpath/haval_general_ledger_mod.git
	branch = master

[submodule "intpath/haval_product_template_mod"]
	path = intpath/haval_product_template_mod
	url = git@github.com:intpath/haval_product_template_mod.git
	branch = master

[submodule "intpath/mak_extended"]
	path = intpath/mak_extended
	url = git@github.com:intpath/mak_extended.git
	branch = master

[submodule "intpath/dev_picking_cancel"]
	path = intpath/dev_picking_cancel
	url = git@github.com:intpath/dev_picking_cancel.git
	branch = master

[submodule "intpath/eq_po_multi_warehouse"]
	path = intpath/eq_po_multi_warehouse
	url = git@github.com:intpath/eq_po_multi_warehouse.git
	branch = master

[submodule "intpath/import_picking_with_lot"]
	path = intpath/import_picking_with_lot
	url = git@github.com:intpath/import_picking_with_lot.git
	branch = master

[submodule "intpath/haval_inventory"]
	path = intpath/haval_inventory
	url = git@github.com:intpath/haval_inventory.git
	branch = master

[submodule "intpath/haval_delivery_slip"]
	path = intpath/haval_delivery_slip
	url = git@github.com:intpath/haval_delivery_slip.git
	branch = master

[submodule "intpath/items_price_privilege"]
	path = intpath/items_price_privilege
	url = git@github.com:intpath/items_price_privilege.git
	branch = odoo13
